<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="al.alexiasolutions.eshop.eShopBackend.dao.mapper.ProductMapper">

	<select id="listproduct" parameterType="map"
		resultType="al.alexiasolutions.eshop.eShopBackend.dto.ListProductDTO">

		SELECT n_idproduct, t_nome, t_brand, n_price, n_quantity
		FROM classwork."T_Product"
		WHERE t_nome = #{t_nome}
		ORDER by t_nome


	</select>

	<insert id="insertproduct" parameterType="map">

		INSERT INTO
		classwork."T_Product"(
		n_idproduct, t_nome, t_brand, n_price,
		n_quantity)
		VALUES (#{n_idproduct}, #{t_nome}, #{t_brand}, #{n_price},
		#{n_quantity});

	</insert>

	<update id="updateproduct" parameterType="map">


		update classwork."T_Product"
		SET t_nome='#{t_nome}, t_brand=#{t_brand}, n_price=#{n_price}, n_quantity=#{n_quantity}
		where n_idproduct = (
		select max(n_idproduct) FROM classwork."T_Product" WHERE (
		t_nome= #{t_nome} AND t_brand=#{t_brand} ))





	</update>



</mapper>