<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="al.alexiasolutions.eshop.eShopBackend.dao.mapper.ProductMapper">

<select id="listproduct" resultType="al.alexiasolutions.eshop.eShopBackend.dto.ListProductDTO">
		
		SELECT n_idproduct, t_name, t_brand, n_price, n_quantity
  		FROM classwork."T_Product"
        WHERE n_idproduct = ${n_idproduct};

	</select>
	
	
	<select id="insertproduct" resultType="al.alexiasolutions.eshop.eShopBackend.dto.ListProductDTO">
		
		INSERT INTO classwork."T_Product"(
            n_idproduct, t_name, t_brand, n_price, n_quantity)
             VALUES (${n_idproduct}, ${t_name}, ${t_brand}, ${n_price}, ${n_quantity});


	</select>
	

</mapper>