<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="al.alexiasolutions.eshop.eShopBackend.dao.mapper.ProductMapper">


	<select id="listproduct" parameterType="map"
		resultType="al.alexiasolutions.eshop.eShopBackend.dto.ListProductDTO">
		SELECT * FROM classwork."T_Product"
		<where>
			<if test="t_nome != null"> t_nome = #{t_nome}</if>
		</where>
	</select>

	<insert id="insertproduct" parameterType="map">

		INSERT INTO
		classwork."T_Product"(
		n_idproduct, t_nome, t_brand, n_price,
		n_quantity)
		VALUES (#{n_idproduct}, #{t_nome}, #{t_brand}, #{n_price},
		#{n_quantity});

	</insert>

	<select id="selectupdate" parameterType="map"
		resultType="al.alexiasolutions.eshop.eShopBackend.dto.IdListDTO">
		SELECT max(n_idproduct) FROM classwork."T_Product" 
		
		<where>
			<if test="t_nome != null and t_nome != ''">AND "t_nome" =#{t_nome}</if>
			<if test="t_brand != null and t_brand != ''">AND "t_brand"=#{t_brand}</if>
		</where> 
	</select>
	
	
	<update id="updateproduct" parameterType="map">
	

		UPDATE t_nome,t_brand, n_price, n_quantity FROM classwork."T_Product"
		SET t_nome=#{t_nome}, t_brand=#{t_brand},
		n_price=#{n_price}, n_quantity=#{n_quantity}
		
		




	</update>







</mapper>